In [26]:
# Calculando rentabilidade de um modelo hipotético mês a mês

import pandas as pd
from pandas_datareader import data as pdr
import numpy as np
import yfinance as yf
# Calculando o retorno acumulado dos dados

acoes01 = ["SANB11.SA","WEGE3.SA","ABEV3.SA", "PRIO3.SA"]

dados_acoes = yf.download(acoes01,"2019-01-01","2023-06-14")["Adj Close"]

retornos = dados_acoes.pct_change().dropna()

retornos

retornos["rent_modelo"] = retornos["WEGE3.SA"] * 0.25 + retornos["PRIO3.SA"]*0.25 + retornos["SANB11.SA"]*0.25 + retornos["SANB11.SA"]*0.25

retornos ["ano"] = retornos.index.year
retornos ["mes"] = retornos.index.month

retornos["rent_modelo"] = 1 + retornos["rent_modelo"]

retornos ["rent_MID"] = retornos.groupby(["ano", "mes"])["rent_modelo"].cumprod() - 1

retornos.groupby(["ano","mes"]).tail(1)[["ano","mes","rent_MID"]]

[*********************100%***********************]  4 of 4 completed

             ano  mes  rent_MID
Date
2019-01-31  2019    1  0.081793
2019-02-28  2019    2  0.037498
2019-03-29  2019    3  0.039215
2019-04-30  2019    4  0.021445
2019-05-31  2019    5  0.001155
2019-06-28  2019    6  0.002743
2019-07-31  2019    7  0.032651
2019-08-30  2019    8 -0.026131
2019-09-30  2019    9  0.063773
2019-10-31  2019   10  0.051807
2019-11-29  2019   11  0.073360
2019-12-30  2019   12  0.195193
2020-01-31  2020    1  0.069982
2020-02-28  2020    2 -0.054764
2020-03-31  2020    3 -0.342340
2020-04-30  2020    4  0.111730
2020-05-29  2020    5  0.097535
2020-06-30  2020    6  0.149988
2020-07-31  2020    7  0.150486
2020-08-31  2020    8 -0.013740
2020-09-30  2020    9 -0.048877
2020-10-30  2020   10  0.080798
2020-11-30  2020   11  0.257724
2020-12-30  2020   12  0.182397
2021-01-29  2021    1 -0.034217
2021-02-26  2021    2  0.007550
2021-03-31  2021    3  0.046490
2021-04-30  2021    4 -0.027480
2021-05-31  2021    5  0.059368
2021-06-30  2021    6 -0.012882
2021-07-30  2021    7 -0.005568
2021-08-31  2021    8  0.051454
2021-09-30  2021    9  0.013957
2021-10-29  2021   10 -0.043042
2021-11-30  2021   11 -0.072897
2021-12-30  2021   12 -0.031232
2022-01-31  2022    1  0.085712
2022-02-25  2022    2 -0.023799
2022-03-31  2022    3  0.118851
2022-04-29  2022    4 -0.063784
2022-05-31  2022    5 -0.000792
2022-06-30  2022    6 -0.114672
2022-07-29  2022    7  0.033940
2022-08-31  2022    8  0.062236
2022-09-30  2022    9  0.054140
2022-10-31  2022   10  0.127246
2022-11-30  2022   11 -0.040782
2022-12-29  2022   12  0.020015
2023-01-31  2023    1  0.052956
2023-02-28  2023    2 -0.053846
2023-03-31  2023    3 -0.036629
2023-04-28  2023    4  0.041677
2023-05-31  2023    5  0.006284
2023-06-13  2023    6  0.029278